In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re #regular expression
import string

In [ ]:
data_fake = pd.read_csv("/content/drive/MyDrive/Fake - Fake.csv")
data_true = pd.read_csv("/content/drive/MyDrive/True - True.csv")

In [ ]:
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’s...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian C...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke ...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name ...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Duri...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [ ]:
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [ ]:
data_fake["class"]=0
data_true["class"]=1

In [ ]:
data_fake.shape, data_true.shape

((23481, 5), (21417, 5))

In [ ]:
#removed last 10 rows for manual testing
data_fake_manual_testing=data_fake.tail(10)
for i in range(23480,23470,-1):
    data_fake.drop([i],axis=0,inplace=True)


data_true_manual_testing=data_true.tail(10)
for i in range(21416,21406,-1):
    data_true.drop([i],axis=0,inplace=True)

In [ ]:
data_fake.shape, data_true.shape

((23471, 5), (21407, 5))

In [ ]:
import warnings
warnings.filterwarnings("ignore")
data_fake_manual_testing['class']=0
data_true_manual_testing['class']=1

In [ ]:
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [ ]:
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,Fully committed' NATO backs new U.S. approach ...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [ ]:
data_merge = pd.concat([data_fake, data_true],axis=0)
data_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’s...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian C...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke ...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name ...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Duri...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While ...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Much...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [ ]:
#merge true and fake dataframes
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [ ]:
#remove columns which are not defined
data=data_merge.drop(['title','subject','date'],axis=1)

In [ ]:
data.isnull().sum()

text     633
class      0
dtype: int64

In [ ]:
data=data.sample(frac=1)

In [ ]:
data.head()

                                                    text  class
22833  Tune in to the Alternate Current Radio Network...      0
4244   (Reuters) - Highlights for U.S. President Dona...      1
5093   GOP congressman Steve King (R-IA) had endorsed...      0
1625   BEIJING (Reuters) - China’s Foreign Minister W...      1
14591  BERLIN (Reuters) - Talks about forming a new t...      1

In [ ]:
data.reset_index(inplace=True)
data.drop(['index'],axis=1,inplace=True)

In [ ]:
#Here columns are deleted
data.columns

Index(['text', 'class'], dtype='object')

In [ ]:
data.head()

                                                text  class
0  Tune in to the Alternate Current Radio Network...      0
1  (Reuters) - Highlights for U.S. President Dona...      1
2  GOP congressman Steve King (R-IA) had endorsed...      0
3  BEIJING (Reuters) - China’s Foreign Minister W...      1
4  BERLIN (Reuters) - Talks about forming a new t...      1

In [ ]:
def wordopt(text):
    text=text.lower()

    text=re.sub(r'\[.*?\]', '', text)
    text=re.sub(r"\\w", " ", text)
    text=re.sub(r'https?://\S+|www\.\S+', '',text)
    text=re.sub(r'<.*?>+', '',text)
    text=re.sub(r'[%s]' % re.escape(string.punctuation), '',text)
    text=re.sub(r'\n', '',text)
    text=re.sub(r'\w*\d\w*', '',text)
    return text

In [ ]:
data['text'] = data['text'].astype(str)

In [ ]:
data.shape

(44878, 2)

In [ ]:
wordopt(data['text'][0].lower())

'tune in to the alternate current radio network acr for another live broadcast of  the boiler room tonight  pm pst   pm cst   pm est for this special broadcast join us for uncensored uninterruptible talk radio custommade for bar fly philosophers misguided moralists masochists street corner evangelists mediamaniacs savants political animals and otherwise lovable rascalsjoin acr hosts hesher and spore along side andy nowicki the alt right novelist and funksoul  randy j   acr contributors for the hundred and twentieth episode of boiler room turn it up tune in and hang with the acr braintrust for this weeks boil downs and analysis and the usual gnashing of the teeth of the political animals in the social reject clubthis week on the show the acr braintrust is back with another meeting of the social reject club in the no friends left zone and the gang is discussing the seymour hersh audio tapes with all signs pointing to seth rich as the leak from inside the dnc to wikileaks the implications of this obviously being that so called russiagate should be renamed to hillarygate and traced the mainstream media s obsession with  russian collusion  back to the presidential debate back in october of  a quick update on john mcafee s recovery from some form of attack and his new privacy phone s release not to mention the usual side tracks and strange rabbit holes we find ourselves in as we navigate the weeks media cycle including sex robots further degeneracy from the neoleft youth in sweden and moredirect download episode  like and share the program and visit our donate page to get involved reference links for your consideration and research'

In [ ]:

for i in range(len(data)):
  data['text'][i]= wordopt(data['text'][i].lower())

In [ ]:
x=data['text']
y=data['class']

In [ ]:
x.shape

(44878,)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((33658,), (11220,), (33658,), (11220,))

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer

vectorization = TfidfVectorizer(analyzer='word',stop_words= 'english')
xv_train=vectorization.fit_transform(x_train)
xv_test=vectorization.transform(x_test)

In [ ]:
xv_train.shape

(33658, 173173)

In [ ]:
# Model-1 Logistic Regression
from sklearn.linear_model import LogisticRegression

LR=LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()